*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    border: 1px solid black;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
    gap: 32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
nav button{
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    background-color: green;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
