*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    height: 92px;
}
ul{
    display: flex;
    gap: 32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
nav button{
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    background-color: green;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
.banar{
    width: 100%;
    height: 674px;
    background: url("./images/hero-bg.png");
    margin: 0px auto;
   
}
.banar-contant{
    margin: 0px auto;
    padding-top: 60px;
    
    width: 1360px;
    text-align: center;
    
}
.banar-contant .divc{
    width: 1360px;
    padding-top: 70px;
   /* border: 1px solid red; */
    margin: 0px auto;
  padding-top: 70px;
   
}
.banar div .btn{
    display: flex;
    gap: 3px;
    border-radius: 29px;
    padding: 2px 10px;
    font-size: 16px;
    color: green;
    background-color: #FFFFFF;
    margin: 0px auto;
}


.tex-timg h1{
    /* font-size: 70px; */
    line-height: 50px;
}
.img-con button{
    background-color: green;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px;
    
   
}
.h1{
    margin-top: 20px;
    color:#FFFFFF;
    font-size: 60px;
    margin-bottom: 15px;
}
.h{
    color: greenyellow;
    font-size: 70px;
    margin-bottom: 32px;
    
}

.img-con{
    display: flex;
    gap: 15PX;
    margin: 0px auto;
    margin-top: 20px;
    margin-left: 480px;
}

.imgbtn{
    display: flex;
    gap: 5px;
}
.banar p{
    color: #FFFFFF;
}
#img-btn2{
    background: none;
    border: 1px solid #FFFFFF;
}
.imgbtn{
    border-radius: 5px;
 
}
.card{
   
    width: 1360px;
    text-align: center;
    margin: 0px auto;
}
.card-container{
    display: flex;
    height: 300px;
    gap: 24px;
    
}
.card-container div{
     /* border: 1px solid black; */
     border-radius: 5px;
     padding: 10px;
     box-shadow: 0px 5px 10px grey;


}
.cardheading h1 {
    padding-bottom: 10px;
}
.cardheading P{
    color: #627382;
}

.cardheading{
    margin-bottom: 44px;
    padding-top: 36px;
   
}
.card-container img{
    background: red;
    border-radius: 30px;
    padding: 10px;
    margin-top: 69px;
    margin-bottom: 16px;
   
}
.card-container h2{
    padding-bottom: 16px;
}
.card-container p{
    color: #627382;
}

.main-img-ul{
    height: 600px;
    display: flex;
    gap: 60px;
    margin: 120px;
    

}
.img img{
    width: 600px;
    height: 600px;
   
}
.ul .p{
    margin-top: 102px;
    margin-bottom: 16px;
}
.ul h1{
    margin-bottom: 16px;
}
.ul .p2{
    color: #627382;
    margin-bottom: 40px;
}
.ul ul{
    display: block;
    
}
.ul ul li{
    display: flex;
    gap: 10px;
    padding-bottom: 16px;
}
.divbtn button{
    background-color: #469165;
    display: flex;
    gap: 5px;
  font-size: 15px;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    padding: 5px;
    margin-left: 480px;
    margin-bottom: 16px;

}
.about{
    margin: 0px auto;
    width: 1360px;
    height: 384px;
    border:  1px solid red;
    text-align: center;
    background-color: #F7F6F2;
    padding: 0px 120px 120px 120px;
}
.about h1{
    padding-top: 80px;
    padding-bottom: 16px;
    color: #627382;
}
.about p{
    margin-bottom: 16px;
    color: #627382;
}

.last{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    height: 348px;
    background-color:#f9eed9;
}
.footer{
    text-align: center;
    padding: 20px;
     background-color:#f9eed9;
}

   




